.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;

  transition: opacity 250ms $timing-function,
    background-color 250ms $timing-function;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 480px;
  min-height: 580px;
  background-color: #fff;

  padding: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.backdrop .btn {
  display: block;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 10px;
  fill: $h-color;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;

  transition: fill 250ms $timing-function;

  &:hover,
  &:focus {
    fill: $accent-color;
  }
}

.backdrop .close-btn {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
